/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container */
.container{
    width: 96%;
    margin: auto;
}
    /* Header */

        #logo{
            width: 200px;
            margin-top: 4%;
        }
        .intestazione{
            background-color: #4EA0FF;
            background-image: url(../img/pattern.png);
            background-size: 500px;
            background-repeat: repeat;  
        }

    /* Main */
        .titolo{
            margin-top: 15px;
            font-size: 3vw; 
        }
        .sottotitolo{
            color: #848484;
            font-size: 1.2em;
        }
        #autore{
            color: #26ABE6;
        }
        .data{
            color: #848484;
            font-size: 1em;
            margin-bottom: 15px;
        }
        .didascalia{
            font-size:0.8em;
        }
        .spazio-testo{
            margin-top:15px;
            margin-bottom:15px;
        }
        .evidenziato-giallo{
            background-color: yellow;
        }
        ul{
            margin-left: 1%;
        }

        /* Tabella */
        .toptabella{
            background-color: #20A9E5;
            color: white;
            height: 10px;   
        }
        .riga-dispari{
            background-color: #B1E5F2;
        }
        .riga-pari{
            background-color: white;
        }
        .terza-colonna{
            width: 50%;
        }

    /* Footer */
    .titolo-fine-immagini{
        color: #848484;
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    #articolo1{
        color: white;
        font-size: 25px;
        background-image: url(../img/monitor.jpg);
        height: 200px;
        background-repeat: no-repeat;
        margin-bottom: 10px;
    }
    #articolo2{
        color: white;
        font-size: 25px;
        background-image: url(../img/graph.jpg);
        height: 200px;
        background-repeat: no-repeat;
        margin-bottom: 10px;
    }