/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container */
.container{
    width: 96%;
    margin: auto;
}
/* Header */

#logo{
    width: 200px;
    margin-top: 4%;
}
.intestazione{
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: 500px;
    background-repeat: repeat;  
}

/* Main */
.titolo{
    margin-top: 15px;
    font-size: 3vw; 
}
.sottotitolo{
    color: #848484;
    font-size: 1.2em;
}
#autore{
    color: #26ABE6;
}
.data{
    color: #848484;
    font-size: 1em;
    margin-bottom: 15px;
}
.didascalia{
    font-size:0.8em;
}